<div style="display: flex; align-items: center; justify-content: space-between; padding: 16px 50px 16px 27px">
  <button class="primary-default-btn" onclick="openNav()">
    <p style="">MENU</p>
  </button>
  <img src="{{section.settings.logo | img_url: '81x49' }}" style="cursor: pointer;" />
  <div style="display: flex; align-items:center; gap: 32px;">
    <button style="background: none; border:none; outline:none;">
      <p class="cta-text-link" style="color: var(--white-color);">Log In</p>
    </button>
    <img
      src="{{section.settings.cart-icon | img_url: '19x24'}}"
      alt="icon"
      style="cursor: pointer;"
      onclick="openSlideOpencart()" />
  </div>
</div>
<script>
  /* Set the width of the side navigation to 250px */
  function openNav() {
    var mediaQuery = window.matchMedia("(max-width: 700px)")
    if (mediaQuery.matches) {
      document.getElementById("slideNavbar").style.width = "100%";
    } else {
      document.getElementById("slideNavbar").style.width = "50%";
    }
  }

  function openSlideOpencart() {
    document.getElementById("slideOpencart").style.width = "414px"
  }
</script>
{% schema %}
  {
    "name": "header-1",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo Upload"
      }, {
        "type": "image_picker",
        "id": "cart-icon",
        "label": "Cart Icon Upload"
      }
    ]
  }
{% endschema %}