<div style="width: 481px;">
  <p style="font-family: 'Ogg'; font-style: normal; font-weight: 400; font-size: 97px; line-height: 113px; color: #FFFFFF">Bliss up for Blisstober</p>
  <p style="font-family: 'Univers'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 25px; color: #F9F8F5;">For a limited time, bundle your bliss and save.</p>
  <p style="font-family: 'Univers'; font-size: 11px; line-height: 20px; letter-spacing: 0.458333px; text-transform: uppercase; color: #F9F8F5;">(1x High Rhode, 1x Dream Light, and a 20-Pack of Kin Spritz.</p>
  <p style="background-color: #FFFFFF; color: #232323; padding: 11px 0; width: 290px; text-align: center">$149 (5% off)</p>
</div>
{% schema %}
  {
    "name": "hero",
    "settings": []
  }
{% endschema %}