<div style="height: calc(100vh - 81px);">
  <div style="padding: 160px 0 0 80px;">
    <p class="text" style="color: var(--white-color)">Bliss up for</p>
    <p class="text" style="color: var(--white-color); margin-bottom: 20px;">Blisstober</p>
    <p class=".body-default" style="color: var(--kin-white-color); margin-bottom: 20px;">For a limited time, bundle<br> your bliss and save.</p>
    <p class="label-sm" style="color: var(--kin-white-color); margin-bottom: 12px;">(1x High Rhode, 1x Dream Light, and a 20-Pack of Kin Spritz.</p>
    <p class="cta-primary" style="background-color: var(--white-color); color: var(--black-1-color); padding: 11px 0; width: 290px; text-align: center; font-weight: bolder;">$149 (5% off)</p>
  </div>
</div>
{% schema %}
  {
    "name": "hero",
    "settings": []
  }
{% endschema %}