<div id="slideNavbar" class="sidenav">
  <div style="padding: 16px; height: 100%">
    <div style="display: flex; align-items:center; justify-content:space-between; width: calc(50% + 27px)">
      <button class="primary-reverse-btn" onclick="closeNav()">
        <p>close</p>
      </button>
      <img src="https://cdn.shopify.com/s/files/1/0706/8103/5071/files/Object.png?v=1673579177" style="height: 33px; width: 55px;" />
    </div>
    <div style="text-align: center; margin-top: 106px">
      <a id="slide-navbar-product-link" href="/dram-light">
        <img
          id="slide-navbar-product-img"
          src="https://cdn.shopify.com/s/files/1/0706/8103/5071/files/kin_500ml_bottle.png?v=1673601668"
          style="width:29; height:57;" />
        <p class="slide-navbar-text-lg">
          Dream Light
        </p>
      </a>
      <a href="/high-rhode">
        <p class="slide-navbar-text-lg">
          High Rhode
        </p>
      </a>
      <a href="/kin-spritz">
        <p class="slide-navbar-text-lg">
          Kin Spritz
        </p>
      </a>
      <div style="display: flex; flex-direction: column; column-gap: 1em; margin-top: 50px; color: var(--black-1-color); font-weight:bolder;">
        <a href="/shop_all">
          <p class="universe-14-30">shop all</p>
        </a>
        <a href="/about_kin">
          <p class="universe-14-30">about kin</p>
        </a>
        <a href="the_kinship">
          <p class="universe-14-30">the kinship</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="main"></div>
<script>
  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("slideNavbar").style.width = "0";
  }
</script>
{% schema %}
  {
    "name": "slide-navbar",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}