<div id="slideNavbar" class="sidenav">
  <div style="padding: 16px; height: 100%">
    <div style="display: flex; align-items:center; justify-content:space-between; width: calc(50% + 27px)">
      <button class="primary-reverse-btn" onclick="closeNav()">
        <p>close</p>
      </button>
      <img src="https://cdn.shopify.com/s/files/1/0706/8103/5071/files/Object.png?v=1673579177" style="height: 33px; width: 55px;" />
    </div>
    <div style="text-align: center; margin-top: 106px">
      <p style=" font-family: 'Ogg'; font-style: normal; font-weight: 400; font-size: 60px; line-height: 90px; color: var(--kin-black-color)">
        Dream Light
      </p>
      <p style=" font-family: 'Ogg'; font-style: normal; font-weight: 400; font-size: 60px; line-height: 90px; color: var(--kin-black-color)">
        High Rhode
      </p>
      <p style=" font-family: 'Ogg'; font-style: normal; font-weight: 400; font-size: 60px; line-height: 90px; color: var(--kin-black-color)">
        Kin Spritz
      </p>
      <div style="display: flex; flex-direction: column; column-gap: 1em; margin-top: 50px; color: var(--black-1-color); font-weight:bolder;">
        <p class="universe-14-30">shop all</p>
        <p class="universe-14-30">about kin</p>
        <p class="universe-14-30">the kinship</p>
      </div>
    </div>
  </div>
</div>
<div id="main"></div>
<script>
  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("slideNavbar").style.width = "0";
  }
</script>
{% schema %}
  {
    "name": "slide-navbar",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}