<div id="mySidenav" class="sidenav">
  <div style="padding: 16px; height: 100%">
    <button class="primary-reverse-btn" onclick="closeNav()">
      <p>close</p>
    </button>
    <div style="text-align: center; margin-top: 106px">
      <p class="ogg-normal" style="margin-bottom: 50px;">Dream Light<br> High Rhode<br> Kin Spritz</p>
      <div style="display: flex; flex-direction: column; column-gap: 1em">
        <a href="#">shop all</a>
        <a href="#">about kin</a>
        <a href="#">the kinship</a>
      </div>
    </div>
  </div>
</div>
<div id="main"></div>
<script>
  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
{% schema %}
  {
    "name": "slide-navbar",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}