@charset "UTF-8";

:root {
  --white-color: #FFFFFF;
  --kin-white-color: #F9F8F5;
  --black-1-color: #232323;
  --kin-black-color: #2B2B2B;
}


/* 
@font-face {
  font-family: "Univers";
  src: url("./fonts/univers/UniversBold.ttf") format("ttf");
}

@font-face {
  font-family: "Ogg";
  src: url("./fonts/ogg/Ogg-Bold.ttf") format("ttf");
} */

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

hr {
  margin: 0;
}

button {
  cursor: pointer;
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  background-color: var(--white-color);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  padding: 0;
}

#slideNavbar.sidenav {
  left: 0;
}

#slideOpencart.sidenav {
  right: 0;
}

/* The navigation menu links */
.sidenav a {
  text-transform: uppercase;
  color: var(--black-1-color);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.primary-default-btn,
.primary-reverse-btn {
  border-radius: 50%;
  padding: 16px 9px;
  background: none;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.primary-default-btn {
  border: 1.5px solid var(--kin-white-color);
}

.primary-reverse-btn {
  border: 1.5px solid var(--kin-black-color);
}

.primary-default-btn p,
.primary-reverse-btn p {
  font-family: 'Univers';
  font-size: 7px;
  line-height: 16px;
}

.primary-default-btn p {
  color: var(--kin-white-color);
}

.primary-reverse-btn p {
  color: var(--kin-black-color);
}

.univers-14 {
  font-family: 'Univers';
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.16667px;
}

.ogg-normal {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
}